#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  display: flex;
  gap: 5px;
}

.box {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.btn {
  border: solid 1px black;
}

.btn:hover {
  background-color: lightgray;
  border: solid 1px black;
}

.green {
  background: lightgreen;
}

.yellow {
  background: lightyellow;
}

.gray {
  background: lightgray;
}
